
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url(" https://maxcdn.bootstrapcdn.com/font-awesome/5.14.0/css/font-awesome.min.css");


/*
navbar, mission-statement, profile-card, Top-Header div >> registration....sign-in and Up
*/


.navbar
{
     color: #FFFFFF;
     min-width:100% !important;
     z-index: 90;
     background: transparent !important;
     display: flex;
     justify-content: space-between;
     align-items: center;
     overflow: hidden;
     border-bottom: 1px solid #000000;

     }
      


 .sign{width:20% !important; z-index: 100;}
 .sin{margin-left: 1rem;}
 .nav-item .nav-link, i{
   color:#ffffff !important; z-index: 1;}  
 .fbf{
     color: rgba(0,0,0,0.6);
      text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
      0px -5px 35px rgba(27, 23, 236, 0.884);
     -webkit-background-clip: text;
     -moz-background-clip: text;
      background-clip: text;
      color: transparent;
      text-shadow: rgba(51, 123, 255, 0.945) 0px 3px 3px
}

@media(max-width:986px){

    .home{transform: translateX(-60%) !important;}
    .sin{margin-left: 0}
    .m-header h3 {margin-top:1rem; font-size: 20px; }

    .desc h2 { font-size: 25px !important; line-height: 25pt; margin-top: 2rem;}
    .desc h2 .text-warning, .text-success{ font-size: 25px !important;}
    .mission{margin: 0;}
    .m-inner{transform: translate(-6%, 3%);}
    #showimg{ transform: translateY(40%) !important;
}
.navbar-collapse{background: white !important;}
.navbar-nav .nav-item .nav-link{color:rgb(10, 10, 10) !important;}  
}
@media(max-width:650px){

.sign{width:60% !important;}
.sign li{width: 30% !important;}
.home{transform: translateX(-50%) !important;
}

}

 
  }

/*-----------PROFILE CARD section----------------------------*/

.aside-profile{
  min-width:23.7%;
  width: auto;
  min-height: 300px;
  height:auto;
  transform: translateY(-5%);
  position: absolute;
  left:4%;
  background: url(webDevBackground.jpg) 50%/cover no-repeat;
}
.profile{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    font-family: 'Oswald', sans-serif;
    margin-left: .5% !important;
    

  }
  
  .aside-profile .cad-title {
    text-align:center;
    font-family:  sans-serif; 
    background: #0f0101 !important;
    color:#ffffff !important;
    width:300px !important;
  }
  .aside-profile h6 .fa-thumbs-up{
    color:#ffffff;
  }

  
  .profile button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(0, 0, 0);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transform: translateY(40%);
  }
  
 .profile a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
 .profile button:hover, a:hover {
    opacity: 0.7;
  }

/*------------------------------------------MISSION STATEMENT------------------------------------*/

.mission button{
  margin: 1rem;
 
}
#mission-statement{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 5rem !important;
  min-width: 100vw;
  width:100%;
  min-height:600px;
  padding:3rem !important;
  flex-wrap: wrap;
  height: auto;

}

.aside-message
{
  width:60%;
  min-height: 300px;
  height:auto;
  font-family: 'Josefin Sans', sans-serif;
  padding-right: 3rem !important;
  line-height: 30px !important;
  font-size: 18px;
  text-align: justify !important;
  text-justify: inter-word;
  position: absolute;
  left:35%;
word-spacing: 1px !important;
}


@media(max-width:999px){

  #mission-statement{
    flex-direction: column;
    margin-left: -3% !important;
    transform: translateY(-10%) !important;
  }
 

  .aside-message, .aside-profile{
    width: 100%;
    position: relative;
  }
  .aside-message{
    left:5%;
    transform: translateY(-100%) !important;

  }
  .aside-message .m-header h3{
   font-size: 30px !important;

  }
  .aside-profile{
 
    transform: translateY(110%) !important;
    margin: 1px;
  }
  .profile{
    margin-left: 0% !important;
  }
 
}
@media(max-width:896px){
  #mission-statement{
    transform: translateY(-3%) !important;

  }
  .aside-message{
    font-size: 16px;
    text-align: left !important;
   
  }
  
}
@media(max-width:760px){
  #mission-statement{
    transform: translateY(8%) !important;
  }
 
}
@media(max-width:685px){
  #mission-statement{
    flex-direction: column;
    transform: translateY(12%) !important;
 
  }
  
}
@media(max-width:599px){
  #mission-statement{

    transform: translateY(15%) !important;
  }
 
  }
  @media(max-width:510px){
    #mission-statement{
  
      transform: translateY(22%) !important;
    }
    }
    @media(max-width:450px){
      #mission-statement{
        transform: translateY(27%) !important;
     
      }
  
}







/*------------------Top Header Elements------------*/

.fa-home{
  font-size:2rem;
  color:rgb(253, 197, 142) !important;
  margin-left: 8rem;
  margin-top: 1rem;
}
#header-top{
    min-height:120px;
    height:auto !important; 
    width: 100%;
    background:#101820ff;
    background-attachment: fixed;
    z-index: 20;  
    overflow: hidden;
    }
    #header-top h5{
      color: #f2aa4cff !important;
    }
    

  
  .fabf-register h6
   {
  margin-top: -2.3rem;
  position: absolute; left:32%;
  color:rgb(247, 216, 43) !important; 
  text-shadow: 2px 2px 10px rgb(10, 9, 9); z-index: 10;
  }
  
  #header-top h6 span i {color: #121 !important;
     text-decoration: none; 
     text-shadow: none;
    
  }
  #header-top h6 span a{
   font-size: large;
    color:#ccc;
    text-decoration: none;
    transition: border 0.5s ease-in-out;
    border-width: 5px;
  }
  
  #header-top h6 span a:hover {
    border-bottom: 3px solid black;
    
  }
  
  
  .header-col-1{
  min-height:100%;
  font-size: 0px; line-height: 0%;
  border-top: 110px solid red;
  border-right: 100px solid transparent;
  margin-top: -4rem !important;
  min-width: 100%;
  color: #ffffff;
  z-index: 1;
  
  }
  
  .fabf-logo
  {
    
  position: absolute;
  left:5%; top:-10%;
  font-weight: 900 !important; 
  color:rgb(240, 250, 240) !important; 
  z-index: 10;
  text-shadow: 0px 1px 0px #999,
  0px 2px 0px #888, 0px 3px 0px #777,
  0px 4px 0px #666, 0px 5px 0px #555, 
  0px 6px 0px #444, 0px 7px 0px #333,
  0px 8px 7px #001135; font: 2rem 'ChunkFiveRegular'; 
  transform: translate(10%, -100% ) !important;
  }
  
  .fabf-desc
  {
   
    position: absolute;
    left:40%; 
    top: 7%;
    z-index: 10;
    font-weight: 900 !important; 
    color:rgb(240, 250, 240) !important; 
    text-shadow: 2px 2px 10px rgb(10, 9, 9); z-index: 10;
  
  }
  
  .fabf-register h6{
    width:100%;
    left:65%;
  }
  /*------------------Title SECTION------------------------*/
  .header-title
  {
    min-width: 100%;
    width: 100%;
    min-height:250px;
    height:250px;
    background: darkolivegreen;

}
.title-text
{
width:100%; 
height:100%;
overflow: hidden; 
align-items: center;
justify-content: center; 
background-image: linear-gradient(to bottom, 
rgba(16, 17, 22, 0.7), 
rgba(10, 10, 10, 0.9));
background:url(kevin.jpg) 50% 70%/cover no-repeat;
position: relative;
font-family: 'Times New Roman', Times, serif;
z-index: 30;
}

.title-text::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.8s;
  opacity: 0.6;
  background: black;
  z-index: -1;

}


.title-text h2
{ 
width: 100%; 
font-size: 50px;
font-weight: 900;
padding-right: 2rem;
transform: translate(25%, 32%);
z-index: 100;


}

  
 @media(max-width:996px)
  {
    .fabf-register h6{
      width:100%;
      left:45%;
    } 
    .title-text h2{
      font-size:45px;
      padding-right: 2rem;
      transform: translate(15%, 45%);

  
  }
  }
  @media(max-width:768px){
  .fabf-desc{
    font-size: 16px !important;
  }
  .fabf-logo{
    font-size: 20px !important;
    top:7%;
  }
  .fabf-register h6{
    width:100%;
    left:7%;
  }
  #header-top h6 span a{
    width:100%;
  font-size: 16px;
  }
  .header-registration a{
    margin-left:1rem;
  }
  #header-top{
    height:130px;
  }
  
  .title-text h2{
    font-size:35px;
    padding-right: 2rem;
    transform: translate(13%, 42%);
    margin-left:-5% ;

}

  }
 
  
       
  @media(max-width:578px){
    
    .fabf-desc{
      font-size: 16px !important;
    }
    .title-text h2{
      font-size:30px;
      padding-right: 2rem;
      transform: translate(15%, 65%) !important;
      margin-left:-5% ;
  
}
  }