@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);
/*----------------------MAIN CONTENT-----------------------------*/
html, body
{
  
  width:100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Alegreya Sans', sans-serif;
  position: relative;
}
body{
  margin-bottom: 300px
}

#web-body{
  height: auto;
  box-sizing: border-box;
  min-width: 100vw;
  width:100%;
  
}
.col
 {
   color:rgb(255, 253, 253); z-index: 80;
  min-height:200px;
  height:auto;
}/*--------------COLUMN SECTION----------------*/


.home, .inner-nav-cover, 
.navbar-toggler, 
.navbar-brand,
.form-inline{z-index: 90;}

/*---------------------NAVBAR BRAND AND HOME SECTION-------------*/
 .home a{
  color:peachpuff !important;
  font-size: 35px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  z-index: 100;
  position: absolute;
  bottom:0;

 }
 .navbar-brand
 {
   position: absolute;
   top:0;
   font-weight: 900;
   letter-spacing: -2pt;
   font-size: 2rem !important;
   color: #fff;
    text-shadow: 0px 1px 0px #999,
    0px 2px 0px #888, 0px 3px 0px #777,
    0px 4px 0px #666, 0px 5px 0px #555, 
    0px 6px 0px #444, 0px 7px 0px #333,
    0px 8px 7px #001135; font: 80px 'ChunkFiveRegular'; 
    
}

  /*------------------ HEDAER Section-------------------------------*/

header
{
  position: relative;
  min-width: 100vw !important;
  background-color:rgba(248, 10, 10, 0.9);
  z-index: 10;
  min-height: 250px !important;
  box-sizing: border-box;
  height:auto;
  margin:0;
  background-color: #010307;


}

  header:after{
    content: "";
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.6;
    background: #010307;
    z-index: 2;
    background-image: url("image/kev");
    -webkit-filter: contrast(1.4)  hue-rotate(45deg) grayscale(1) saturate(1.8) sepia(.6) ;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  }

  .img{
    min-width:100vw;
    height:250px;
   
    position: relative;
  }
  

  #images{ /*------------------------IMAGES FROM SERVER------------------*/
    width:100vw;
    z-index: 100;
   min-height: 2px;
   height:auto !important;
    padding:0 !important;
    margin: 0 !important;
  }

  .overlay{
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.7;
    background: #010307;
    z-index: 2;

  }

  .image-box{
    min-width:250px !important;
    min-height: 200px !important;
   
;
  }
  .image-box img{
    min-width:100%;
    height: 100%;
 
  }
.card-title{color:rgb(2, 1, 1) !important;
font-size: 20px !important;
font-family: Arial, Helvetica, sans-serif;
}
.text-box p{
font-size: 17px !important;
font-family: Arial, Helvetica, sans-serif;
color: #080707 !important
}

  /*-------------------------Navbar section--------------------------------------*/
  .navbar-expand-sm{
    min-height:80px;
    height:auto;
    min-width:100%;
    padding-bottom: 3rem;
    padding-top:1rem !important;
    padding-left:4rem !important;
    padding-right: 3rem !important;
    margin:auto !important;
    position: relative;
   }

  /*-------------------------SEARCH BUTTON Section--------------------------------------
  .navbar-toggler{

    border-radius: 5px !important;
    background: #caccce !important;
    outline: none !important;
    color: #ffffff !important
  }
  .button{
    position: absolute;
    right: 0;
    top:0;
    padding-right: 3rem !important;
    padding-top: 2rem !important;
  }
  .navbar-collapse
  {
   display: flex; 
   flex-direction: column;
   width: 50vw !important;
   z-index: 60;
   position: relative;
   
  }
/*------------------------FORMS-----------------------*/
   .form-inline{
     max-width: 100vw !important;
     transform: translate(0%,30%)! important;
   
   }
     .form-control{
      max-width: 100% !important;
      position: absolute;
    }
    .form-control:focus{color:rgb(7, 7, 7); 
      background: rgb(252, 248, 248);
      outline: none; border: none !important;
    }
   
   /*--------------------Title section-------------------*/
  
    
  
.title-text{
  text-align: left;
  min-width:100vw !important;
  padding-left: 10rem;
  padding-top: 3%;
}
.social-icon-header{
 
  position: relative;
  min-width: auto !important;
  min-height: auto !important;
  position: absolute;
  left: 80%;
  bottom: 20%;
  display: inline-block;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg); 
  transform: rotate(90deg);

}
 
.title-text .btn{
  margin-left: 3px;
  margin-top: 2px;
  padding: .4rem; 
  border-radius: 10px;
}
.title-text .fab{
  font-size: 30px;
}


.welcome{
  font-size: 5rem !important;
font-weight: 900 !important;
}
.yellow, .darks{
  font-size: 3rem;;
  font-weight: 600 !important;
  }

.title-text p{
  font-size: 20px;
}


/* ------------------------------------------------------MEDIA QUERRY-------------------------------------------*/
 @media(max-width: 991px){
  .title-text{ transform: translate(-70%, 0%) !important;   
    text-align: right !important;
 }
 
  .image-box img{
    min-width:100%;
    height: 100%;
  
  }
  .welcome{
    font-size: 3.5rem !important;
  font-weight: 900 !important;
  }
  .yellow, .darks{
    font-size: 2rem;;
    font-weight: 600 !important;
    }
   
  .title-text{
    text-align: left !important;
    min-width:100vw !important;
    padding-left: 15rem;
  }
  .title-text p{
    font-size: 19px;
  }
  .social-icon-header{
    visibility:hidden;
  }
 }
 @media(max-width: 999px){
  .social-icon-header{
    visibility:hidden;
  }
 }

 @media(max-width:786px){
  
  .title-text{ transform: translate(-90%, -10%) !important;  
    min-width:100vw !important;
    text-align: right !important;
    padding-left: 10rem !important;
    transform: rotate(45%)! important;
  }
  .navbar-expand-sm{padding-right: 5rem !important;
   }
   .welcome{
    font-size: 4.5rem !important;
  font-weight: 900 !important;
  }
}
  /*
  .yellow, .darks{
    font-weight: 700 !important;
    font-size: 1.2rem !important;
    }
    .title-text p{
      font-size: 16px !important;
    }
   
 } */
 @media(max-width:750px){
  
  .title-text{ transform: translate(-85%, 5%) !important;  
    min-width:100vw !important;
    text-align: right !important;
  }
 }
 @media(max-width:698px){
  .title-text{ transform: translate(-83%, -5%) !important;  
    min-width:100vw !important;
    text-align: right !important;
  }
  .form-inline{
  margin-top: 2rem !important;
  
}
.column-title{
  max-width: 100vw !important;
  }
 }



 @media(max-width:575px){
   .column-title{
   position: absolute;
   left:70%;
   min-width: 100vw !important;
   max-width:100vw !important;
   
   }
  
   .title-text{ transform: translate(-87%, 0%) !important;  
    min-width:100vw !important;
    text-align: left !important;
  
  }
  .navbar-brand{visibility: hidden;
   } 
   .col-form{
    margin-top: -3rem !important;
    min-width: 100vw !important;
  }
   .inner-nav-cover{
    transform: translateX(-18%)! important;
  }
  
  .form-inline{
    max-width: 80vw !important;
    margin-top: -.1rem !important;
    padding: 2%;
    padding-left: 0%;
    padding-bottom: 0%;
    
   }
  .inner-nav-cover{
    transform: translate(-5%, 0%)! important;
  }
  .home a{
  font-size: 28px !important;
  }
}
   @media(max-width:420px){
    header{max-height: 350px !important;}
 
    .title-text{ 
     transform: translate(-96%, -45%) !important;  
     min-width:100vw !important;
     text-align: left !important;
     padding-right: 0 !important;
   }
   .inner-nav-cover{
    transform: translate(-10%, 0%)! important;
  }
  
   .title-text span{
     min-width: 100vw;
     max-width: 100vw;
   }
   .form-control{
    padding: 10% !important;
  }
  .form-inline{
    max-width: 90vw !important;
    } 
  }
  @media(max-width:399px){
 
    .title-text{ 
     transform: translate(-102%, -40%) !important;  
     min-width:100vw !important;
     text-align: left !important;
     padding-right: 0 !important;
     padding-bottom:3% !important;
   }
   .inner-nav-cover{
    transform: translate(-13%, 0%)! important;
  }
  
   .title-text span{
     min-width: 100vw;
     max-width: 100vw;
   }
   .form-control{
    padding: 9% !important;
  }
  .form-inline{
    max-width: 90vw !important;
    } 
    .welcome{
      font-size:5rem !important;
    font-weight: 900 !important;
    }
    .yellow, .darks{
      font-size: 2.2rem;;
      font-weight: 600 !important;
      }
  
   
  } 
   /*
  .form-inline{
   min-width: 70vw !important;
    margin-top: 12rem !important;
  
}
.title-text{
  position: fixed;
  top:30%;
  left:63%;
  min-width:100vw !important;
  text-align: left !important;
  height:auto;
  padding-top: 1rem !important;

}
.inner-nav-cover{
  transform: translate(-8%, 5%)! important;
}
.welcome, .yellow, .darks{
  font-size: 2rem !important;
}
.yellow, .darks{
  font-size: 1.3rem !important;
}
.title-text p{font-size: 12px !important;}
 }

@media(max-width:460px){
  .form-inline{
   min-width: 70vw !important;
    margin-top: 12rem !important;
  
}
 .title-text{
    position: fixed;
    top:50%;
    left:56%;
    min-width:100vw !important;
    text-align: left !important;
    height:auto;
    padding-top: 1rem !important;

 }

.inner-nav-cover{
  transform: translate(-10%, 10%)! important;
}
.navbar-brand{
  visibility: hidden;
}
.navbar{transform: translate(0%, -20%) !important;
  z-index: 90;
}
}


@media(max-width:399px){
  .title-text{
   left:50%;
   top:42%;
    min-width:100vw !important;
    max-width: 1600px;
 }
 .inner-nav-cover{
   min-width:100%;
   height:auto;
  transform: translate(-20%, 10%)! important;
}
.form-inline{
  margin-top: 15rem !important;
  min-width: 70vw;
  transform: translate(0%, -25%) !important;
}

}  */
    /*
    position: relative;
    padding-bottom: 0 !important;
    width: 100vw !important;
    margin:0 !important;
    background: url(image/kevin.jpg)50% 40%/cover no-repeat;
    background-color:rgba(12, 1, 1, 0.9);
    z-index: 10;
    }
    .title-text{
        min-width: 100vw;
        min-height: 200px;
        max-width: 100vw;
        height: auto;
        padding-top: 3% !important;
        transform: translate(-30%, 15%) !important;
        
          }
          .navbar-brand{
          position: absolute;
          top:0;
          left:4%;
          visibility: hidden;
          }
          .home a{
          position: absolute;
          left:5%;
          top:6%
           }
           .button{
            position: absolute;
            right: 0;
            top:0;
            padding-right: 1.3rem !important;
            padding-top: 1rem !important;
          }
          .form-inline{
          
            min-width:100vw !important;
            transform: translate(5%,80%)! important;
          
          }
            .form-control{
             max-width: 100% !important;
             position: absolute;
         
           }
           .navbar{min-width:100px !important}
       }
      
     
   
*/
/*-----------------------INNER IMAGE SECTION--------------------------------------------*/

@media(max-width:599px){

    .image-box img{
      min-width:100%;
      height: 100%;
      object-fit: fill !important;
    }
}
@media(max-width:560px){
 
    .text-box{
      padding-top: 2rem !important;
      padding-bottom: 4rem !important;
    }
    .inner-row{
      padding-bottom: 6rem !important;
    }
}

@media(max-width:499px){


.btn-vendor{
  margin-right: 2% !important;
}
.links a {
font-size:13px !important;
font-weight: 700;
}
}

@media(max-width:437px){
  
   
    .links{min-width:100vw;
      padding-bottom: 10rem !important;
     display:flex;
     transform: translateX(-5%) !important;
     }
    }
  /*-----------------------------------FOOTRESS------------
  *----------------------------------------------------FOOTER------
 https://www.web-eau.net/blog/10-best-footer-html-css-snippets

 https://justcreative.com/10-useful-css-snippets
 
 -----------------------*/


/* 
   .footer{
 
    
     background-color: #1f2022;
     box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    width:100vw;
    padding:45px 10px 30px;
    display:block;
    font-size:15px;
    line-height:24px;
    box-sizing: border-box;
    color: #ebe2e2;

    width: 100%;
    z-index: 55;
    margin-top: 0;

   }
   .foote:after{
    content: "";
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.1;
    background: #010307;
    z-index: 1;

  }
   .profile-card{
     min-width: 300px;
     max-width: 300px; 
     min-height: 370px;
      max-height: 300px; 
      overflow: hidden; 
      text-align: center;
      border-radius: 10px;
       color: #240202;
      position: absolute; left:10% !important; 
     top:15% !important;
     
   }
   .profile-image{
    width:100%;
    height:150px;
    background:rgb(247, 246, 243);
    color:white; 
    border-radius: 0% 5% 0% 0%;
  

   }
   .footer .profile-title-text, h5{
     color:peachpuff !important;
     font-weight:700 !important;
     font-size:large 
    }
    .inner-icanwi{
      width:auto;
      height:auto;
      position: relative;
      
    }
   
    .icanwi-cover{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 2s ease linear;
      background: url(image/IgboMasqGroup.jpg) 50%/cover no-repeat;
      cursor: pointer;
      z-index: 60;
        }

    .inner-icanwi:hover .icanwi-cover
   {
     opacity: 1; 
     height:100%;
     transition: 500ms all linear ease-in-out;
   }
   
 .footer .col-sm-12, .col-sm-6{
   z-index: 80;
 
 }
  
.site-footer hr
{
  border-top-color:#ffffff;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.footer h6
{
  color:#DD2C00;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#ffffff;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#ffffff;
  font-size: 18px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#f38b2a;
  text-decoration:none;
  font-weight: 900;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right;

} 
.main-footer .social-icons .fab{
  color:rgb(253, 253, 250) !important;
  transform: translateY(25%);
  font-size: 25px;
  font-weight: 3300;
  
}

.main-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:15%;
  border: 2px solid peachpuff !important

}
.copyright-text
{
  margin:0;

}
.copyright-text a{
  color:rgba(171, 170, 172, 0.952) !important;
  font-size: 18px;
  font-weight: 600;
}
.copyright-text a:hover
{
  color:chocolate;
  font-weight: 600;
  text-decoration: none;
}
.fa-java,
.fa-css3,
.fa-html5,
.fa-node-js,
.fa-java-script{
  color:#e2dadb;
  font-size: 1rem !important;
  font-weight: 900 !important;
}
/*-------------------media querry---------------------------*/
/* @media(max-width:1060px){
  .profile-card{
    min-width: 250px;
  }
   
  }
 
@media (max-width:991px)
{

  hr{
    margin-top: 6rem !important;
  }
  .main-footer{
    margin-top: 4rem !important;

  }
  .profile-card{
    min-width: 300px;

} 
.igbo-link{
padding-right: 2rem !important;
}
.mission{padding-right: 3rem !important;
}
.col-igbo,.col-profile{
transform: translate(25%, 10%) !important;
}
hr{margin-top: 20% !important;
}
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
  .footer-heading{ padding-right: 5% !important;}
   .copyright-text{transform: translateY(-80%) !important;
  }  
  .social-icons{transform: translateY(-80%);}     
  
  }

  @media (max-width:787px)
{
  .profile-card{
    min-width: 100% !important;
    transform: translate(-7%, 8%) !important;

}
  .col-igbo{
    min-width:100% !important;
    transform: translate(13%, 8%) !important;
    padding-right: 1rem !important;
  }
  .col-profile{
    width:80vw !important;
    margin-top: 1rem !important;
    transform: translate(1%, 8%) !important;
  }
  hr{ margin-top: 45% !important;
  }
 .main-footer{

    margin-top: 4rem !important;
 }

  .copyright-text{
  transform: translateX(1%) !important;
  
  }
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#ffffff;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  
  color:#1625f7;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#ffffff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
  .col-igbo{
    min-width:100% !important;
    transform: translate(18%, 8%) !important;
    padding-right: 1rem !important;
  }
  .col-profile{
    width:100vw !important;
    margin-top: 2rem !important;
    transform: translateY(40%) !important;
  }
  hr{
    margin-top: 17rem !important;
  }

}

@media(max-width:648px){
  .profile-card{
    min-width: 65vw !important;
  }
  hr{
    margin-top: 17rem !important;
  }
}  


@media(max-width:579px){
.copyright-text{

  transform: translateY(-80%) !important;
  }  
  .social-icons{transform: translateY(1%);  
  padding-top:1rem
}
.profile-card{
  min-width: 350px !important;

} 
}
@media(max-width:579px){
.col-igbo{
  transform: translate(20%, 8%) !important;
  padding-right: 1px !important;
}
hr{
  margin-top: 19rem !important;
}
}
@media(max-width:403px){
  .col-igbo{
    transform: translate(27%, 8%) !important;
    padding-right: 1px !important;
    padding-left: .8rem !important;
  }
  
}

@media(max-width:399px){
  .col-igbo{
    transform: translate(27%, 8%) !important;
    padding-right: 1px !important;
    padding-left: 1.3rem !important;
  }
  .profile-card{
    min-width: 300px !important;
  
  } 
  hr{
    margin-top: 19rem !important;
  }
  .mission{padding-right: 1rem ! important;
 
  }
  .footer-heading {
    margin-top:-2rem !important;
  } 
} */
    /* background: rgba(0,0,0, 0.8);
    border-bottom: 1px solid rgba(255,255,255, 0.5); 