@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);


/*--------------COLUMN SECTION----------------*/


.home, .inner-nav-cover, 
.navbar-toggler, 
.navbar-brand,
.form-inline{z-index: 90;}

/*---------------------NAVBAR BRAND AND HOME SECTION-------------*/
 .home a{
  color:rgb(252, 252, 252) !important;
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  z-index: 100;
  position: absolute;
  bottom:0;
  top:40%;

 }
 .navbar-brand
 {
   position: absolute;
   top:0;
   font-weight: 900;
   letter-spacing: -2pt;
   font-size: 2rem !important;
   color: #fff;
    text-shadow: 0px 1px 0px #999,
    0px 2px 0px #888, 0px 3px 0px #777,
    0px 4px 0px #666, 0px 5px 0px #555, 
    0px 6px 0px #444, 0px 7px 0px #333,
    0px 8px 7px #001135; font: 80px 'ChunkFiveRegular'; 
    
}

  /*------------------ HEDAER Section-------------------------------*/

header
{
  position: relative;
  min-width: 100vw !important;
  background-image: linear-gradient(90deg, #03030c 0%, #050508 35%, #00d4ff 100%);
  z-index: 10;
  min-height: 250px !important;
  box-sizing: border-box;
  height:auto;
  margin:0;
  padding-bottom: 5rem !important;
  
}

  header:after{
    content: "";
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:-20%;
    right:0;
    bottom:0;
    opacity:0.6;
    background: rgb(17, 9, 17);
    background: linear-gradient(90deg, rgba(145,9,149,1) 0%, rgba(0,9,0,1) 0%, rgb(4, 13, 15) 100%);
    z-index: 2;
    background-image: url("image/kevin-original.jpg");
    -webkit-filter: contrast(1.4)  hue-rotate(45deg) grayscale(10%) brightness(60%) saturate(1.8) sepia(.6);
  background-repeat: no-repeat;
  background-position: 50% 70%;
  background-size: contain;

  }

  .img{
    min-width:100vw;
    height:250px;
    position: relative;
  }
  

  #images{ /*------------------------IMAGES FROM SERVER------------------*/

    width:100vw;
    z-index: 100;
   min-height: 2px;
   height:auto !important;
    padding:0 !important;
    margin: 0 !important;
  }

  .overlay{
    position:absolute;
    height: 100%;
    width:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.7;
    background: #010307;
    z-index: 2;

  }

  .image-box{
    min-width:250px !important;
    min-height: 200px !important;
   
;
  }
  .image-box img{
    min-width:100%;
    height: 100%;
 
  }
.card-title{color:rgb(2, 1, 1) !important;
font-size: 20px !important;
font-family: Arial, Helvetica, sans-serif;
}
.text-box p{
font-size: 17px !important;
font-family: Arial, Helvetica, sans-serif;
color: #080707 !important
}

  /*-------------------------Navbar section--------------------------------------*/

  .navbar-expand-sm{
    min-height:80px;
    height:auto;
    min-width:100%;
    padding-bottom: 3rem;
    padding-top:1rem !important;
    padding-left:4rem !important;
    padding-right: 3rem !important;
    margin:auto !important;
    position: relative;
   }

  /*-------------------------SEARCH FORM Section--------------------------------------*/
  .searching-row{
    min-width:100vw;
    height:auto;
   
  }
  .search-container{
    margin:0 !important;
  }
.searching-form{
  padding-top: 4rem !important;
  min-width:100vw;
  min-height: 150px;
  display:flex; 
  justify-content: center;
  align-items: center;
  margin-left:0 !important;

}
#searching{
  min-width:75%;
  height:70px;
  border:1px solid green;
  z-index: 100;
}
#search-button{
  min-width:10%;
  height:70px;
  border:1px solid green;
  padding-left: 3% !important;
  background: #f2aa4cff !important;
  z-index: 100;
}
   .searching::placeholder
   {
    padding-left: 2em;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif; 
   }
     

   
   /*--------------------Title section-------------------*/
  
    
  
.title-text{
  text-align: left;
  min-width:100vw !important;
  padding-left: 2rem;
  padding-top: 3%;
}
.social-icon-header{
 
  position: relative;
  min-width: 6rem;
  max-width: 15rem;
  min-height: auto !important;
  position: absolute;
  left: 65%;
  bottom: 50%;
  display: inline-block;
  
}
.social-icon-header button{
  max-width: 100px !important; 
  min-width: 80px !important; 
  min-height: 40px !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
              border: none;
              outline: none;
              border-radius: 10px 5px 5px 10px;
}

.title-text .fab{
  font-size: 30px;

}


.welcome{
  font-size: 5rem !important;
font-weight: 900 !important;
}
.yellow, .darks{
  font-size: 3rem;;
  font-weight: 600 !important;
  }

.title-text p{
  font-size: 20px;
}


    
  