
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');



#header-top{
  min-height:100px;
  height:auto; 
  width: 100%;
  background:#101820ff;
  background-attachment: fixed;
   height:100px;
  z-index: 20 !important;
  margin: 0;
  padding: 0;;
  
  }
  
  .overlay{
  position:absolute;
  width:100%; height:12%;
   top:0; left:0;  z-index: -1; 
   background: 
   linear-gradient(rgba(0, 0, 0, 0.5), 
   rgba(0, 0, 0, 0.5));
   box-shadow: 0px 0px 15px rgba(8, 3, 3, 0.7);

   }
.fabf-register h6
 {
margin-top: -2.3rem;
position: absolute; 
left:2%;
transform: translateX(-25%) !important;
color:rgb(247, 216, 43) !important; 
text-shadow: 2px 2px 10px rgb(10, 9, 9);
 z-index: 10;
}

#header-top h6 span i {
  color: #121 !important;
   text-decoration: none; 
   text-shadow: none;
  
}
#header-top h6 span a{
 font-size: large;
  color:#ccc;
  text-decoration: none;
  transition: border 0.5s ease-in-out;
  border-width: 5px;
}

#header-top h6 span a:hover {
  border-bottom: 3px solid black;
  
}


.header-col-1{
min-height:100%;
font-size: 0px;
line-height: 0%;
border-top: 120px solid red;
border-right: 100px solid transparent;
margin-top: -4rem !important;
min-width: 100%;
color: #ffffff;
z-index: 1;

}
.fa-home{
  font-size:2rem;
  color:rgb(253, 197, 142);
 position: absolute;
 top:7%;
 left: 3%;
 z-index: 100;
}

.fabf-logo
{
  
position: absolute;
left:5%; top:0%;
font-weight: 900 !important; 
color:rgb(240, 250, 240) !important; 
z-index: 10;
text-shadow: 0px 1px 0px #999,
0px 2px 0px #888, 0px 3px 0px #777,
0px 4px 0px #666, 0px 5px 0px #555, 
0px 6px 0px #444, 0px 7px 0px #333,
0px 8px 7px #001135; font: 2rem 'ChunkFiveRegular'; 
}

.fabf-desc
{
 
  position: absolute;
  left:20%; 
  top: 7%;
  z-index: 10;
  font-weight: 900 !important; 
  color:rgb(240, 250, 240) !important; 
  text-shadow: 2px 2px 10px rgb(10, 9, 9); z-index: 10;

}

.fabf-register h6{
  width:100%;
  left:65%;
}





@media(max-width:996px)
{
  .fabf-register h6{
    width:100%;
    left:43%;
  } 
}
@media(max-width:768px){
.fabf-desc{
  font-size: 14px !important;
  width:100vw;
  left:0;
  top:6%;
  padding:1rem !important;
}
.fabf-logo{
  font-size: 25px !important;
  top:2%;
}
.fabf-register h6{
display: none;
}
#header-top h6 span a{
  width:100%;
font-size: 16px;
}
.header-registration a{
  margin-left:1rem;
}
.fa-home{
  position: absolute;
  top:2%;
  z-index: 100;
  left:30%
}
}
     
@media(max-width:460px){
  
  .fabf-desc{
  top:8%
  }
  }
       
@media(max-width:399px){
  
  .fabf-desc{
  top:45%
  }
  .fabf-logo, .fa-home{
    top:12%
  }
  }
        

 
         




