

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,300;1,400;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;1,300;1,400;1,600;1,900&display=swap');
/*
body, body-container, icanwi-cover, kids-cover, research-cover, button and footer
*/

#web-body
{
box-sizing: border-box;
min-height:50vh;
height:auto;
min-width:100vw;
width:100vw;
margin: 0 !important;
padding: 0 !important;
}
.web-content{
  box-sizing: border-box;
  width:100%;
  height:100%;
  padding:0;
  margin:0;
 }
h1
{
 color:aliceblue !important;
 text-shadow: offset-x offset-y blur-radius color;
 text-shadow: 5px 5px 5px rgba(114,114,114);
}

/*---------------------------------SECTION MESSAGE WITH IMAGE BACKGROUND ------------------------*/
   
    .inner-message{
      width:auto;
      height:auto;
      position: relative;
  
    }
    .icanwi-cover button, .kids-cover button, .research-cover button
    {
    color:white; 
    background: rgb(18, 2, 20); 
    padding:5px;
    border-radius:10px;
    position:absolute;
    top:75%;
    left: 35%;
    background: #f7eeee;
    color: #000000;
    border: 2px solid #000000;
    }

@media(max-width: 998px){
.icanwi-cover button{
top:50%;
left:45%;
  }
  .igbo p{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
@media(max-width: 798px){
  .icanwi-cover button, .kids-cover button, .research-cover button
  {
  top:60% !important;
  }
  .igbo p{
    padding-left: 4rem !important;
    padding-right: 4rem !important;
  }
}
   
    
  .icanwi-cover{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
  width: 100%;
  opacity: 0;
  transition: 2s ease linear;
  background: url(/image2/IgboMasqGroup.jpg) 50%/cover no-repeat;
  cursor: pointer;
  z-index: 60;
    }

    .kids-cover{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 2s ease linear;
      background: url(/image2/IgboKids1.jpg) 50%/cover no-repeat;
      cursor: pointer;
        }
        .research-cover
        {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: 2s ease linear;
          background: url(/image2/researchImg.jpg) 50%/cover no-repeat;
          cursor: pointer;
         }

       
       .inner-message:hover .icanwi-cover
       {
      opacity: 1; 
       height:100%;
      transition: 500ms all linear ease-in-out;
      }

    .inner-message:hover .research-cover
      {
      transition: 2s all linear ease-in-out;
      opacity: 1;
     }
    .inner-message:hover .kids-cover{
    transition: 2s all linear ease-in-out;
    opacity: 1;
      
    }
    .inner-message:hover .btn-success{
      visibility: visible !important;
      z-index: 80 !;
     }
    .cl h3
     {
      font-family: harlow italic;
      font-size: 25px; 
      margin-top:4%;
      color: rgb(88, 9, 104);
    }
 
 /* ------------------------Search button section----------*/
        
        .sb-example-1 .search 
        {
          height: 50px !important;
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          color: #eaf1f1;
        }
  
        .sb-example-1 .search ::placeholder 
        {
           color:#f8f4f4;
           position: fixed;
           top:20%;
           padding-left: 1%;
           
        }
        .sb-example-1 .searchTerm 
        {
          width: 400px !important;
          border: 3px solid #eaf1f1;
          border-right: none;
          border-radius: 20px;
          outline: none;
          font-size: 15px;
          position: absolute !important;
          right:5%;
          padding: 8px !important;
       
      
        }
        .sb-example-1 .searchTerm:focus
        {
          color: #000000;
          text-align: center;
        }
        .sb-example-1 .searchButton 
        {
          position: absolute;
          padding:2px;
          width: 40px;
          text-align: center;
          border-radius: 18px !important;
          cursor: pointer;
          font-size: 20px;
          outline: none;
          z-index: 10;
          right: 7%;
          background: transparent !important;
          border: none;
       
        }
        /*----------------------------------------SOCILA MEDIA BUTTONS----------------*/
       
        .socialBtn button:nth-child(2),
        .socialBtn button:nth-child(3),
        .socialBtn button:nth-child(4)
        {
          margin-left: 15px;
        }
       .socialBtn button{
         padding: 10px;
         border-radius: 15px;
         background: transparent !important;
         border: 2px solid white;
      
       }
       .fab{
         font-size: 25px;
         color: #f5f4f3 !important;
         font-weight: 800;
       }
      
      .fa-search{
       color:black !important; 
       margin-left: -2.3rem;
       font-size: 25px;
       }

  
     
  @media (max-width:991px)
   {
  .sb-example-1 .searchButton
   {
    transform: translateX(40%);
  
    }
    .fa-search{
      color:black !important; 
      margin-left: -1rem;
      font-size: 25px;
      }
 
   }

  @media (max-width:798px)
  {
    
  .sb-example-1 .searchButton 
  {
  transform: translateX(30%);
  }
  .socialBtn button
  {
  visibility: hidden;
  }
 
  .sb-example-1, .search
  {
    min-width: 100% !important;
    width: 100%;
    transform: translateY(-40%)! important;
  }
  .sb-example-1 .searchTerm 
  {
    min-width: 90% !important;
    width: 80%;
    transform: translateY(-40%)! important;


  }
  .title-text h2
   {
     font-size: 28px !important; 
     line-height: 23pt;
    margin-top: 2rem;
  }
  .fa-search
  {
    color:black !important; 
    margin-left: 1.5rem;
    font-size: 27px;
    }
}
@media(max-width:599px){
  .socialBtn{
    visibility: hidden;  
  }
  .sb-example-1 .search {
   width:100% !important
  }
  .sb-example-1 .searchButton {
    right:8%;
  }


  }
 

/*-------------------------------------------------FOOTER SECTION-----------------------*/
  .footer
    {
    background: url(/images/presentationBK.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    width:100vw;
    padding:45px 10px 30px;
    line-height:24px;
    color: #ffffff;
    z-index: 55;
    text-decoration: none !important;
    list-style-type: none !important;
          }
        .site-footer hr
        {
          border-top-color:#ffffff;
          opacity:0.5
        }
        .site-footer hr.small
        {
          margin:20px 0
        }
        .footer h6
        {
          color:#DD2C00;
          font-size:16px;
          text-transform:uppercase;
          margin-top:5px;
          letter-spacing:2px
        }
        .site-footer a
        {
          color:#ffffff;
        }
        .site-footer a:hover
        {
          color:#b0cc33;
          text-decoration:none;
        }
        .footer-links
        {
          padding-left:0;
          list-style:none
        }
        .footer-links li
        {
          display:block
        }
        .footer-links a
        {
          color:#f7eeee;
          font-size: 18px !important;
          font-family:'Times New Roman', Times, serif
        }
        .footer-links a:active,.footer-links a:focus,.footer-links a:hover
        {
          color:#f1a90d;
          text-decoration:none;font-weight: bolder;
        }
        .footer-links.inline li
        {
          display:inline-block
        }
        .site-footer .social-icons
        {
          text-align:right;
        
        } 
        .social-icons .fab
        {
          color:#DD2C00 !important;
          transform: translateY(25%);
          font-size: 25px;
          font-weight: 500;
        }
        .social-icons { list-style-type: none; display: flex;}
        .social-icons a
        {
          display: inline;
          width:40px;
          height:40px;
          line-height:40px;
          margin-left:6px;
          margin-right:0;
          border-radius:15%;
          border: 2px solid white;
          color:#1625f7;
          font-size:16px;
          display:inline-block;
          line-height:44px;
          width:44px;
          height:44px;
          text-align:center;
          margin-right:8px;
          -webkit-transition:all .2s linear;
          -o-transition:all .2s linear;
          transition:all .2s linear;
          list-style-type: none;

        }
        .copyright-text
        {
          margin:0
        }
        .copyright-text a:hover
        {
        color:chocolate;
        text-decoration: none;
        font-weight: 600;
        }
        @media (max-width:991px)
    
        {
         
         #search{
         transform: translateX(5%) !important;
          }
               
          .site-footer [class^=col-]
          {
            margin-bottom:30px
          }
          .footer-heading{ margin-left: -3% !important;}
          .copyright-text{transform: translateY(-100%) !important;}       
          
          }
       
          @media (max-width:767px)
          {
          .copyright-text{
            margin-left:-1rem !important;
            margin-top:2rem !important;
          }   
          .site-footer
           {
            padding-bottom:0;
           }
          .site-footer .copyright-text,
          .site-footer .social-icons
           {
            text-align:center
           }
          
        .social-icons
          {
          padding-left:0;
          margin-bottom:0;
          list-style:none;
          }
        .social-icons li
          {
          display:inline-block;
          margin-bottom:4px
          }
        .social-icons li.title
          {
          margin-right:15px;
          text-transform:uppercase;
          color:#ffffff;
          font-weight:700;
          font-size:13px
          }
       
        .social-icons a:active,
        .social-icons a:focus,
        .social-icons a:hover
        {
          color:#ffffff;
          background-color:#29aafe
        }
        .social-icons.size-sm a
        {
          line-height:34px;
          height:34px;
          width:34px;
          font-size:14px
        }
        .social-icons a.facebook:hover
        {
          background-color:#3b5998
        }
        .social-icons a.twitter:hover
        {
          background-color:#00aced
        }
        .social-icons a.linkedin:hover
        {
          background-color:#007bb6
        }
        .social-icons a.dribbble:hover
        {
          background-color:#ea4c89
        }
        #search
        {
          transform: translateX(5%) !important;
          width: 20rem !important; 
          height:2rem !important
        }
       
      
       .social-icons li.title
          {
            display:block;
            margin-right:0;
            font-weight:600
          }
          .navbar{
           top:40%; 
        }
        .foo {
    background-image: url(images/image1.png), url(images/image2.png);
    background-color: violet;
    background-blend-mode: screen multiply;
}
      }